@import url('./normalize.css');  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #3c484e;
    font-family: 'Montserrat', sans-serif;;
}

.Header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header a {
    text-decoration: none;
    color: #15302C;
}

.Main {
    padding: 10px;
    grid-template-columns: minmax(auto, 976px);
    display: grid;
    justify-content: center;
}
  